.flex-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



.order-button {
  margin-top: 10px;
}

.error-text {
  font-size: smaller;
  border: 1px solid black;
  background-color: red;
  color: white;
  max-width: 30%;
}

.success-text {
  font-size: smaller;
  border: 1px solid black;
  background-color: green;
  color: white;
}