.top-box {
    background-color: black;
    height: 8vh;
    color: orangered;
    display: flex;
}

.logo {
    width: 52px;
    height: 52px;
    margin-top: 6px;
    margin-left: 5px;
}

.navbox {
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
    align-self: flex-end;
}

.nav-button {
    padding: 5px;
    font-size: large; 
    color: orangered;
    border-left: 1px solid orangered;
    border-top: 1px solid orangered;
    text-decoration: none;
}

.nav-button-last {
    margin-right: 5px;
    border-right: 1px solid orangered;
}

.nav-button-selected {
    padding: 5px;
    font-size: large;
    background-color: orangered;
    color: black;
    border-left: 1px solid orangered;
    border-top: 1px solid orangered;
    text-decoration: none;
}

.nav-button:focus {
    outline-width: 0;
}

.logo {
    width: 15%;
    height: auto;
    margin-bottom: 5px;
    /* align-self: center; */
}